# Bus Count Index Retrieval

In [1]:
import pandas as pd

In [4]:
 df = pd.read_csv("C:\\Users\\ADMIN\\Downloads\\dataset1.csv")

In [5]:
df.head()

   id_1  id_2  route   moto    car     rv   bus  truck
0   829   827      1   2.05   4.14   4.14  10.1   15.2
1   829   821      4   6.63  13.26  13.26  32.4   48.5
2   829   804      7  14.41  28.92  28.92  64.7   97.0
3   829   822      6   5.90  11.81  11.81  28.8   43.2
4   829   826      9   2.87   5.81   5.81  14.2   21.2

# Let us calculate the mean value of the bus column:

In [6]:
 mean_bus = df['bus'].mean()

In [7]:
mean_bus

31.93284457478006

# Now we need to identify the indices where bus values are greater than twice the mean:

In [8]:
bus_indexes = df[df['bus'] > (2 * mean_bus)].index.tolist()

In [9]:
bus_indexes

[2,
 7,
 12,
 17,
 25,
 30,
 54,
 64,
 70,
 97,
 144,
 145,
 149,
 154,
 160,
 201,
 206,
 210,
 215,
 234,
 235,
 245,
 250,
 309,
 314,
 319,
 322,
 323,
 334,
 340]

# Let us now Sort the indices in ascending order:

In [10]:
bus_indexes.sort()

In [11]:
bus_indexes

[2,
 7,
 12,
 17,
 25,
 30,
 54,
 64,
 70,
 97,
 144,
 145,
 149,
 154,
 160,
 201,
 206,
 210,
 215,
 234,
 235,
 245,
 250,
 309,
 314,
 319,
 322,
 323,
 334,
 340]

In [12]:
print(bus_indexes)

[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]