# Route Filtering

In [1]:
import pandas as pd

In [2]:
 df = pd.read_csv("C:\\Users\\ADMIN\\Downloads\\dataset1.csv")

In [3]:
df.head()

   id_1  id_2  route   moto    car     rv   bus  truck
0   829   827      1   2.05   4.14   4.14  10.1   15.2
1   829   821      4   6.63  13.26  13.26  32.4   48.5
2   829   804      7  14.41  28.92  28.92  64.7   97.0
3   829   822      6   5.90  11.81  11.81  28.8   43.2
4   829   826      9   2.87   5.81   5.81  14.2   21.2

# Let us calculate the average of values in the truck column for each route:

In [4]:
avg_value_truck = df.groupby('route')['truck'].mean()

In [5]:
avg_value_truck

route
1     49.164103
2     41.403125
3     50.075000
4     51.096774
5     43.327778
6     47.952500
7     52.525862
8     46.128571
9     54.531429
10    41.400000
Name: truck, dtype: float64

# We will now filter the routes where the average of truck values is greater than 7:

In [7]:
filtered_routes = avg_value_truck[avg_value_truck > 7].index.tolist()

In [8]:
filtered_routes

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Let us sort it in ascending order:

In [9]:
filtered_routes.sort()