# Sales Performance Analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\ADMIN\\Downloads\\sales_data (1).csv")

In [3]:
df.head()

,Unnamed: 0,ProductID,QuantitySold,Price,Discount,Category,Supplier,Date,CustomerID,Country,Profit
0,0,C,8,75.539471,0.064576,Toys,Supplier1,2022-01-01,1148,USA,20.835021
1,1,A,8,43.100482,0.142251,Toys,Supplier3,2022-01-02,1079,USA,11.003640
2,2,C,3,66.907525,0.198508,Clothing,Supplier2,2022-01-03,1885,Canada,6.896583
3,3,C,1,67.017674,0.071013,Home,Supplier3,2022-01-04,1212,USA,8.221993
4,4,A,8,58.219722,0.127749,Toys,Supplier3,2022-01-05,1202,UK,8.201146

# Let us calculate total revenue for each product:

In [4]:
total_revenue_per_product = df.groupby('ProductID')['Price'].sum()

In [5]:
total_revenue_per_product

ProductID
A    1887.270345
B    1937.498544
C    1834.134594
Name: Price, dtype: float64

# Let us calculate overall total revenue:

In [6]:
overall_total_revenue = df['Price'].sum()

In [7]:
overall_total_revenue

5658.90348302307

# Let us calculate average profit margin for each product:

In [8]:
df['ProfitMargin'] = (df['Price'] - df['Discount']) * df['QuantitySold']

In [9]:
average_profit_margin_per_product = df.groupby('ProductID')['ProfitMargin'].mean()

In [10]:
average_profit_margin_per_product

ProductID
A    258.236261
B    256.069989
C    319.860763
Name: ProfitMargin, dtype: float64

# Let us now identify top-selling products:

In [12]:
top_selling_products = df.groupby('ProductID')['QuantitySold'].sum().nlargest(5)

In [13]:
top_selling_products

ProductID
B    172
C    164
A    154
Name: QuantitySold, dtype: int64

# Let us now identify top-selling categories:

In [14]:
top_selling_categories = df.groupby('Category')['QuantitySold'].sum().nlargest(5)

In [15]:
top_selling_categories

Category
Electronics    160
Toys           148
Home           111
Clothing        71
Name: QuantitySold, dtype: int64